
.swiper-pagination{
    margin-top: 10px;
}
.swiper-pagination-bullet{
    background-color: rgb(5 150 105);
    width: 35px;
    height: 10px;
    border-radius: 20px!important;
}
.swiper-arrows{
    z-index: 999;
    height: 30px;
    width: 40px;
}
@media (max-width: 600px) {
    .swiper-pagination-bullet{
        width: 25px;
    }
}