.logo {
  background-color: transparent;
}
a {
  /* text-decoration: none;
  padding: 12px 24px;
  font-weight: 500;
  text-transform: all 0.6s; */
  /* @apply px-5 py-4 inline-block w-full lg:w-max; */
  @apply px-5 py-4 w-full;
}
a.active {
  background-color: var(--primary-400);
}
/*
.hidden-icon {
  cursor: pointer;
}
@media (max-width: 1024px) {
  .list-header {
    display: none;
  }
}
@media (min-width: 1024px) {
  .hidden-icon {
    display: none;
  }
}

@media (max-width: 640px) {
  .txt {
    display: none;
  }
} */
