.logo {
  background-color: transparent;
}
a {
  @apply px-5 py-4 w-full;
}
a.active {
  background-color: var(--primary-400);
}
.Top-header {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(192, 192, 192, 0) 100%)!important;
}
.animate{
  animation: animationRotate 0.4s infinite alternate-reverse;
}

@keyframes animationRotate {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(20deg);
  }
}